.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: vertical;

}

.left-nav > ul > li {
  font-size: 1em;
  font-family: nyt-franklin, sans-serif;
  font-style: normal;
  font-weight: 700;
  padding: 7px 10px 6px;
}

.right-nav > ul > li {
  font-size: 1em;
  font-family: nyt-franklin, sans-serif;
  font-style: normal;
  font-weight: 700;
  // padding: 7px 10px 6px;
  margin: 0px 10px;
}

.right-nav > ul > li:last-of-type {
  font-size: 25px;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  color: gray;
  background-color: yellow;
  border-radius: 10px;
}

.left-nav span {

}


.right-nav i {

}
